.idea
.vscode

venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.py3
*.py2
*.pyx
*.pyd

.DS_Store
.env

# Node
node_modules/
package-lock.json

# Tailwind CSS output
static/css/output.css

# Media files
media/profile_pictures/
